<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Controle Financeiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
    <ion-input type="text" placeholder="Meu QR code" [(ngModel)]="qrData">

    </ion-input>
</ion-item>
<ion-button (click)="createCode()">Criar Código</ion-button>
<ion-button (click)="scanCode()">Scannear Código</ion-button>

<ion-card *ngIf="createdCode">
  <ngx-qrcode [value]="createdCode"></ngx-qrcode>
  <ion-card-content>
    <p>Valor: {{ createdCode }}</p>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="scannedCode">
  <ion-card-content>
    Resultado do scan: {{ scannedCode }}
  </ion-card-content>
</ion-card>
</ion-content>
